#canvas {
  border: 5px solid black;
  height: 500px;
  width: 900px;
  margin-bottom: 2em;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

button {
  background-color: #1975b1;
  color: white;
  border: none;
  padding: 15px;  
  border-radius: 50px;
  width: 120px;
}

#input {
  margin: 10px;
  border-radius: 50px;
  width: 200px;
  border: 2px solid #ccc;
}


#vol-slider, #thickness {
  width: 200px;
  appearance: none;
  background: #ddd;
  border-radius: 50px;
}


#color {
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 10px;
}


button:hover {
  background-color: #00416c;
}


.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}



